
@mixin ui-input {
  font-family: $sans;
  font-size: inherit;
  border: solid 1px;
  padding-top: .75em;
  padding-bottom: .75em;
  height: 46px;
  border-radius: 3px;
  line-height: inherit;
  &:focus {
    outline: none;
  }
}

@mixin ui-input--text {
  display: block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  color: inherit;
  &.input-white {
    background: rgba(white, .12);
    border-color: rgba(white, .5);
    &::placeholder {
      color: rgba(white, .66);
    }
    &:focus {
      border-color: rgba(white, .85);
      background: rgba(white, .12);
    }
  }
}

input[type="text"],
input[type="email"],
input[type="search"] {
  @include ui-input;
  @include ui-input--text;
  margin-bottom: .75em;
}

.btn-submit {
  @include button--large;
  display: block;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  @media (min-width: $m) {
    @include button--small;
    width: auto;
  }
}

input:invalid + input[type="submit"],
input:invalid + input[type="submit"].btn--solid-white {
  opacity: .5;
  cursor: default;
  &:focus {
    box-shadow: none;
  }
}

.search-site {
  position: relative;
  margin-bottom: 2em;
  .search-input {
    background: $gray-5;
    border-color: $gray-4;
    &:focus {
      border-color: $gray-3;
    }
  }
  .search-submit {
    text-indent: -1000px;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 10px;
    top: 7px;
    background-color: $gray-5;
    opacity: .4;
    &:focus {
      outline: none;
    }
  }
}

@media (min-width: $l) {
  .search-site {
    margin-bottom: 0;
    width: 52px;
    position: relative;
  }
  .search-site .search-input {
    position: absolute;
    right: 0;
    margin-bottom: 0;
    width: 200px;
    background: $gray-5;
    border: none;
    border-radius: 0;
    opacity: 0;
    transform: translateX(200px);
    transition: all .3s ease;
  }
  .search-site.active {
    .search-input {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .search-site .search-submit {
    background-color: transparent;
    cursor: pointer;
  }
  .search-site {
    .search-input:focus + .search-submit,
    .search-submit:focus {
      opacity: .6;
    }
  }
}
