

// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 10;
  @media (min-width: $m) {
    position: relative;
    background: white;
    height: auto;
    padding-top: 14px;
    border-bottom: solid 2px $gray-4;
  }
}

body {
  padding-top: 58px;
  @media (min-width: $m) {
    padding-top: 0;
  }
}

.header-outer-wrap {
  @media (min-width: $m) {
    margin: 0 auto;
    max-width: 720px;
  }
}

.header-container-top {
  position: relative;
  z-index: 10;
  padding: .75em 1em;
  border-bottom: solid 2px lighten($gray-4, 10%);
  background: white;
  @media (min-width: $m) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    padding-bottom: .5em;
    max-width: 720px;
    background: transparent;
    border-bottom: solid 1px $gray-4;
  }
}

.logo {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/fairport-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  @media (min-width: $m) {
    background-image: url(../img/fairport-logo.svg);
    width: 215px;
    height: 48px;
  }
}

#menu-toggle {
  width: 32px;
  height: 32px;
  padding: 8px 4px;
  position: absolute;
  right: 0;
  top: 0;
  align-content: space-between;
}

#menu-toggle div {
  height: 2px;
  width: 100%;
  background: $gray-2;
  @media (min-width: $m) {
    display: none;
  }
}

#main-nav {
  display: none;
  position: fixed;
  background: white;
  height: 100vh;
  padding-top: 58px;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 0;
  &.open {
    display: block;
    animation: nav-in .2s forwards;
    &.nav-out {
      animation: nav-out .2s forwards;
    }
  }
  @media (min-width: $m) {
    display: block;
    position: static;
    opacity: 1;
    height: auto;
    overflow-y: hidden;
    padding-top: 0;
  }
}

@keyframes nav-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes nav-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#main-nav:after {
  content: '';
  display: block;
  height: 100px;

}

body.nav-open {
  overflow: hidden;
}

@media (min-width: $m) {
  .subscribe-link-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
  #main-nav:after {
    display: none;
    content: none;
  }
}
