
// Home Page
.home-template {
  .main-content-wrapper {
    background-color: $gray-5;
    padding-top: 0;
  }
  .page-title {
    line-height: 1.1;
  }
  .title-container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

// Fam Circles

.inspiring-families {
  background-color: white;
}

.fam-circle-swiper {
  .swiper-slide {
    width: 90%;
    padding: 0 1em;
  }
}

.swiper-wrapper {
  align-items: center;
}

.fam-circle {
  background: $gray-2;
  color: white;
  padding-top: 1.5em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  text-align: center;
  border-radius: 5px;
}

@mixin fam-circle-shadow($color, $tint: .8) {
  background-color: rgba($color, $tint);
  @media (min-width: $m) {
    .active .swiper-slide-active & {
      box-shadow: 0 0 0 15px rgba($color, .25);
    }
  }
}

.fam-circle--blue {
  @include fam-circle-shadow($blue-2);
}
.fam-circle--gold {
  @include fam-circle-shadow($gold-1);
}
.fam-circle--purple {
  @include fam-circle-shadow($purple-2);
}
.fam-circle--red {
  @include fam-circle-shadow($red-2);
}
.fam-circle--green {
  @include fam-circle-shadow($green-2, .9);
}

.fam-circle-title {
  font-family: $sans;
  font-size: 1.25em;
}

.fam-circle-text {
  height: 175px;
  margin-top: .75em;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Show grid for testing
@mixin show-grid {
  .main-content:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: calc(50%);
    transform: translateX(-50%);
    z-index: 1000;
    width: 1px;
    height: 100%;
    background: cyan;
  }

  .swiper-slide-active:after {
    content: '';
    display: block;
    position: absolute;
    top: -5%;
    left: calc(50%);
    transform: translateX(-50%);
    z-index: 1000;
    width: 1px;
    height: 110%;
    background: magenta;
  }
}

@include show-grid;


@media (min-width: $m) {
  .fam-circle-swiper {
    opacity: 0;
    transition: opacity .2s .25s;
    width: 100%;
    &.initialized {
      opacity: 1;
    }
    .swiper-slide {
      width: 180px;
      height: 180px;
      padding: 10px;
      margin: 0 5px;
      transition: all .3s ease;
      transform: scale(1);
    }
    .swiper-wrapper {
      height: 624px;
      transition: transform .3s ease;
    }
  }
  .fam-circle-title {
    font-size: 1.5em;
  }
  .fam-circle-text {
    display: none;
  }
  .fam-circle {
    cursor: pointer;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 20px transparent;
    transition: all .3s ease;
    .btn {
      display: none;
    }
  }
  .fam-circle-swiper.active {
    .swiper-slide-active .fam-circle {
      width: 480px;
      height: 480px;
    }
    .swiper-slide-active {
      width: 500px;
      height: 500px;
    }
  }
}
