
// Page Layout


.main-content-wrapper {
  padding-top: 1em;
}

.main-content {
  padding-bottom: 1em;
  @media (min-width: $m) {
    padding-bottom: 2em;
  }
}

.main-section {
  padding-top: 1em;
  padding-bottom: 2em;
  @media (min-width: $m) {
    padding-top: 2em;
  }
}

.main-section p,
.main-section ul,
.main-section ol,
.main-section li {
  &:last-child {
    margin-bottom: 0;
  }
}

.page-intro {
  padding-top: 10px;
  padding-bottom: 30px;
  @media (min-width: $m) {
    padding-top: 46px;
    padding-bottom: 50px;
  }
}

.breadcrumbs {
  padding-top: .5em;
  padding-bottom: .75em;
}

.breadcrumb-item {
  display: inline-block;
  @include header-5;
  font-size: .8em;
  &:not(.current) a {
    color: $gray-2;
  }
}

.breadcrumb-item:before {
  content: '/ ';
}

.full-width-img {
  height: 50vw;
  margin-top: 1em;
  margin-bottom: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: $m) {
    margin-top: 2em;
  }
}

.full-width-img.image-1 {
  background-image: url(../uploads/fairport-asset-management-1.jpg);
}

.grid-item {
  width: 100%;
  @media (min-width: $m) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $m) {
  .grid-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item:first-child {
    padding-left: 0;
  }
  .grid-item:last-child {
    padding-right: 0;
  }
  .two-column > .grid-item {
    width: 50%;
  }
  .three-column > .grid-item {
    width: 33%;
  }
  .four-column > .grid-item {
    width: 25%;
  }
  .four-column > .grid-item:nth-child(4n) {
    padding-right: 0;
  }
  .four-column > .grid-item:nth-child(4n + 1) {
    padding-left: 0;
  }
}


// Block List
.block-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-top: .75em;
}

li.block-list-item {
  border-top: solid 1px $gray-4;
  padding-top: .6em;
  padding-bottom: 1.75em;
  font-size: 1em;

}

.block-list-item h3 {
  margin-bottom: .5em;
  font-size: 1.35em;
  line-height: 1.25;
  @media (min-width: $m) {
    font-size: 1.55em;
    margin-bottom: .75em;
  }
}

.block-list-item h5 {
  font-size: 14px;
  margin-top: .25em;
  margin-bottom: 0;
  color: $gray-2;
}

.block-list-item p:last-child {
  margin-bottom: 0;
}

.block-list .left-column,
.block-list .right-column {
  @extend .grid-item;
}

.block-list--ordered {
  counter-reset: block-list-counter;
}

.block-list--ordered > li {
  position: relative;
  padding-left: 70px;
  padding-top: 1em;
  &:before {
    content: counter(block-list-counter);
    counter-increment: block-list-counter;
    position: absolute;
    top: 14px;
    left: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.25em;
    line-height: 1.35;
    background: $gold-3;
    color: white;
  }
}

.block-list-item ul {
  list-style-type: disc;
  padding-left: 1.4em;
}

.block-list-item li {
  margin: .25em 0;
}

.block-list-item hr {
  margin-top: .75em;
  margin-bottom: .5em;
}

@media (min-width: $m) {
  .block-list-item li {
    font-size: 18px;
  }
  .block-list--ordered p {
    font-size: 1.125em;
    line-height: 1.55;
  }
  .block-list--unordered li.block-list-item {
    padding-top: 1em;
    margin-bottom: 2em;
  }
  .block-list--ordered > li {
    padding-top: 1.85em;
    padding-left: 78px;
    &:before {
      width: 62px;
      height: 62px;
      top: 17px;
      font-size: 2.75em;
      line-height: 1.25;
    }
  }
  .block-list.split--1-2 {
    .left-column {
      width: 34%;
    }
    .right-column {
      width: 66%;
    }
  }
  .block-list.split--7-5 {
    .block-list-item {
      justify-content: space-between;
    }
    .left-column {
      width: 53%;
    }
    .right-column {
      width: 43%;
    }
  }
}




// Default Template
.page-intro--default {
  @extend .page-intro;
  background-color: $gray-3;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  position: relative;
  @media (min-width: $m) {
    padding-top: 65px;
    padding-bottom: 75px;
  }
  & > .container {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .12;
    background-image: url(../img/zig-zag-pattern.png);
    background-size: 80px;
  }
}

// About You Template
.hero-img {
  height: 60vw;
  background-size: cover;
  background-position: center;
}

.page-client-experience .hero-img {
  background-image: url(../uploads/stock-1.jpg);
}



@media (min-width: $m) {

  .about-you-template {
    background-color: $gray-5;
  }

  .about-you-template .hero-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 834px;
  }

  .about-you-template {
    .main-content-wrapper,
    .quick-links-section,
    #footer {
      position: relative;
      z-index: 1;
    }
  }

  .about-you-template .main-content-wrapper {
    background: white;
    margin-top: 532px;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 905px;
    box-shadow: 0 0 4px rgba($gray-1, .2);
  }

  .about-you-template .content-area {
    padding-bottom: 3.5em;
  }


}


// News

.news-feed-template {
  background-color: $gray-5;
  .main-content-wrapper {
    padding: 0;
  }
  .main-content {
    padding-bottom: 0;
  }
  .breadcrumbs {
    background: white;
    padding-top: 1.5em;
  }
  .main-section {
    background-color: white;
  }
  .background-pattern {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../img/zig-zag-pattern.png);
    background-size: 80px;
    opacity: .5;
  }
}

#featured-article {
  margin-bottom: 80px;
}

.article-title {
  font-family: $serif;
  margin-bottom: .25em;
  a {
    color: inherit;
  }
}

.news-item {
  @include icon('compass');
  background-repeat: no-repeat;
  background-size: 50px;
  padding-top: 58px;
  background-position: 0 0;
  @media (min-width: $s) {
    background-size: 65px;
    padding-top: 75px;
  }
  @media (min-width: $m) {
    background-size: 80px;
    padding-top: 95px;
  }
}

.news-item p {
  color: $gray-2;
  margin-bottom: 1em;
}

.news-item--default {
  padding-bottom: 1em;
  margin-top: .5em;
  margin-bottom: 1.5em;
  .article-title {
    font-size: 1.125em;
    font-weight: 500;
  }
  p {
    font-size: 1em;
  }
  @media (min-width: $s) {
    padding-bottom: 2em;
    .article-title {
      font-size: 1.25em;
      margin-top: .25em;
    }
    p {
      font-size: 1.25em;
    }
  }
  @media (min-width: $m) {
    margin-bottom: 2em;
    .article-title {
      font-size: 1.5em;
    }
    p {
      font-size: 1.375em;
    }
  }
}

.news-item--featured {
  padding-bottom: .5em;
  p {
    margin-bottom: 1.5em;
  }
  @media (min-width: $s) {
    margin: 1em 0;
    .article-title {
      font-size: 1.75em;
    }
    p {
      font-size: 1.25em;
    }
  }
  @media (min-width: $m) {
    padding-bottom: 2em;
    .article-title {
      font-size: 2.25em;
    }
    p {
      font-size: 1.5em;
      margin-bottom: 2em;
    }
  }
}

#news-feed {
  padding-top: 2em;
  @media (min-width: $m) {
    padding-top: 4em;
  }
}

.category-compass {
  @include icon('compass');
}

.category-fairport-in-15 {
  @include icon('fifteen');
}

.category-announcement {
  @include icon('bell');
}

.category-perspectives {
  @include icon('perspectives');
}

.category-other {
  @include icon('star');
}
