
// Page Layout

.main-content-wrapper {
  padding-top: 1em;
}

.main-content {
  padding-bottom: 1em;
  @media (min-width: $m) {
    padding-bottom: 2.5em;
  }
}

.main-section {
  padding-top: 1em;
  padding-bottom: 2em;
  @media (min-width: $m) {
    padding-top: 2em;
  }
}

.main-section p,
.main-section ul,
.main-section ol,
.main-section li {
  &:last-child {
    margin-bottom: 0;
  }
}

.secondary-content-area {
  background-color: $gray-5;
  padding-top: 2em;
  padding-bottom: 2em;
  h5 {
    font-size: 14px;
  }
  @media (min-width: $m) {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}

.page-intro {
  padding-top: 10px;
  padding-bottom: 30px;
  @media (min-width: $m) {
    padding-top: 46px;
    padding-bottom: 50px;
  }
}

.breadcrumbs {
  padding-top: .5em;
  padding-bottom: .75em;
}

.breadcrumb-item {
  display: inline-block;
  @include header-5;
  font-size: .8em;
  &:not(.current) a {
    color: $gray-2;
  }
}

.breadcrumb-item:before {
  content: '/ ';
}

.full-width-img {
  height: 50vw;
  margin-top: 1em;
  margin-bottom: 2em;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: $m) {
    margin-top: 2em;
  }
}

.full-width-img.image-1 {
  background-image: url(../uploads/fairport-asset-management-1.jpg);
}

%pattern-fill {
  content: '';
  display: block;
  height: inherit;
  @include pattern();
  background-size: 80px;
}

.pattern-separator {
  height: 75px;
  background-color: $gray-5;
  margin-top: 1em;
  margin-bottom: 2em;
  &:before {
    @extend %pattern-fill;
  }
}


// Grid
.grid-item {
  width: 100%;
}

@media (min-width: $m) {
  .grid-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item:first-child {
    padding-left: 0;
  }
  .grid-item:last-child {
    padding-right: 0;
  }
  .two-column > .grid-item {
    width: 50%;
  }
  .three-column > .grid-item {
    width: 33%;
  }
  .four-column > .grid-item {
    width: 25%;
  }
  .four-column > .grid-item:nth-child(4n) {
    padding-right: 0;
  }
  .four-column > .grid-item:nth-child(4n + 1) {
    padding-left: 0;
  }
}

// Default Template
.page-intro--default {
  @extend .page-intro;
  background-color: $gray-3;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  position: relative;
  @media (min-width: $m) {
    padding-top: 65px;
    padding-bottom: 75px;
  }
  & > .container {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .12;
    @include pattern();
    background-size: 80px;
  }
}


// Our Team

ul.staff-list {
  padding: 2em 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

li.team-member {
  width: 100%;
  display: block;
}

.team-member-link,
.team-member-link:hover {
  color: inherit;
}

.team-member-photo {
  display: block;
  height: auto;
  border-radius: 50%;
}

.job-title {
  margin-bottom: 0;
  color: $gray-2;
}


@mixin staff-list--small {
  li.team-member {
    padding-bottom: 1em;
    border-bottom: solid 1px #dddddd;
    margin-bottom: 1em;
  }
  .team-member-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .team-member-photo {
    width: 80px;
  }
  .team-member-info {
    width: calc(100% - 100px);
    padding-left: 12px;
  }
  .job-title {
    font-size: .8em;
  }
  .team-member-name {
    margin-bottom: 0;
    font-size: 1.35em;
    line-height: 1.2;
  }
}

@mixin staff-list--medium {
  li.team-member {
    text-align: center;
    margin-bottom: 3em;
    border-bottom: none;
    width: 48%;
    display: flex;
    justify-content: center;
  }
  .team-member-link {
    display: block;
  }
  .team-member-photo {
    margin: auto;
    width: 150px;
  }
  .team-member-info {
    width: auto;
    padding-left: 0;
    margin-top: 1.5em;
  }
  .job-title {
    max-width: 180px;
    margin: auto;
  }

}

@mixin staff-list--large {
  li.team-member {
    width: 31%;
  }
  .team-member-photo {
    width: 200px;
  }
  .job-title {
    font-size: 14px;
  }
  .team-member-name {
    font-size: 1.5em;
  }
}

ul.staff-list {
  @include staff-list--small;
  @media (min-width: $s) {
    @include staff-list--medium;
  }
  @media (min-width: $m) {
    @include staff-list--large;
  }
}
