
// Global nav styles
nav {
  ul {
    margin: 0;
    list-style-type: none;
  }
  a {
    padding: 3px 0;
  }
}

.main-nav-item,
.footer-nav-item {
  margin-bottom: 1em;
  & > a {
    @include header-5;
    margin-bottom: 3px;
  }
}

.sub-nav,
.footer-sub-nav {
  a {
    opacity: .6;
    font-size: 1.05em;
    margin-bottom: 2px;
  }
}

// Header nav styles
.nav-container {
  padding-top: 2em;
  @media (min-width: $m) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
  }
}

.main-nav-list {
  padding: 2em 0;
  @media (min-width: $m) {
    padding: .75em 0;
  }
}

.main-nav-item {
  @media (min-width: $m) {
    display: inline-block;
    margin-right: .75em;
    margin-bottom: 0;
  }
}

.main-nav-item a {
  color: $gray-1;
  display: block;
  @media (min-width: $m) {
    font-size: .9em;
    color: $gray-2;
    letter-spacing: .5px;
    &:hover {
      color: $default;
    }
  }
}

.main-nav-item > a {
  margin-bottom: 6px;
  @media (min-width: $m) {
    padding: 0;
    margin: 0;
  }
}

.sub-nav {
  border-top: solid 2px $gray-4;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  li{
    margin-top: .5em;
  }
  @media (min-width: $m) {
    border-top: none;
    position: absolute;
  }
}

.main-nav-item.expanded {
  .sub-nav {
    max-height: none;
  }
}


// Footer nav styles
#footer-nav a {
  color: white;
  display: inline-block;
  padding: 0;
  margin-bottom: 4px;
}

.footer-nav-list {
  padding: 0;
}

.footer-nav-item {
  @extend .grid-item;
  @media (min-width: $m) {
    font-size: .9em;
  }
}

.footer-sub-nav {
  padding: .5em 0;
  a {
    font-weight: 300;
  }
}
