// Quick Links
.quick-links-section {
  background-color: $gray-5;
  padding-top: 2em;
  padding-bottom: 2em;
}

.quick-links-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: .5em;
}

.quick-links-header {
  font-size: 14px;
}

.quick-link {
  margin-bottom: 1.5em;
  p {
    font-family: $serif;
    margin-bottom: .5em;
  }
}

.quick-link-title {
  display: block;
  font-size: 1.125em;
  margin-bottom: .5em;
}

.more-link {
  @include header-5;
  font-size: .8em;
}
