
@mixin button {
  display: inline-block;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.2;
  padding: .5em 1.5em;
  height: 36px;
  border-radius: 18px;
  border: solid 1px;
  transition: all .2s ease;
  &.btn--solid-white {
    border-color: white;
    background-color: white;
    color: $default;
    opacity: .8;
    &:focus {
      opacity: .9;
    }
  }
}

@mixin button--small {
  font-size: 15px;
  height: 28px;
  border-radius: 14px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.75;
}

@mixin button--large {
  font-size: 18px;
  line-height: 1.4;
  height: 46px;
  border-radius: 23px;
}

@mixin button--gold {
  color: $gold-1;
  border-color: $gold-1;
  &:hover,
  &:focus {
    background: $gold-2;
    border-color: $gold-2;
    color: white;
  }
}

button,
.btn,
.btn-submit {
  @include button;
  color: $gray-1;
  border-color: $gray-2;
  &:hover,
  &:focus {
    border-color: $gray-1;
    color: $default;
  }
}

button[type="submit"],
.btn-submit {
  @include button--large;
  @include button--gold;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  background: white;
  &:focus {
    outline: none;
  }

}

#footer .btn-submit {
  @media (min-width: $m) {
    @include button--small;
  }
}

.btn--white {
  color: white;
  border-color: white;
  &:hover {
    border-color: white;
    background-color: white;
  }
}

.btn--solid-white {
  &:hover {
    border-color: white;
  }
}

.btn--gold,
.btn--large  {
  @include button--gold;
}

.btn--small {
  @include button--small;
}

.btn--large {
  @include button--large;
  margin-top: .5em;
}

.btn--dropdown {
  padding-right: 44px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 16px;
    width: 20px;
    height: 34px;
    background-image: url(../img/down-arrow.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .7;
    transition: inherit;
  }
}

.btn--dropdown:hover {
  &:after {
    opacity: 1;
  }
}
