
@mixin button {
  display: inline-block;
  font-family: $sans;
  font-size: 16px;
  line-height: 1.2;
  padding: .5em 1.5em;
  height: 36px;
  border-radius: 18px;
  border: solid 1px;
  transition: all .2s ease;
  &.btn--solid-white {
    border-color: white;
    background-color: white;
    color: $default;
    opacity: .8;
    &:focus {
      opacity: .9;
    }
    &:hover {
      opacity: 1;
    }
  }
}

@mixin button--small {
  font-size: 15px;
  height: 28px;
  border-radius: 14px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.75;
}

@mixin button--large {
  font-size: 18px;
  line-height: 1.4;
  height: 46px;
  border-radius: 23px;
}

@mixin button--gold {
  color: $gold-1;
  border-color: $gold-1;
  &:hover,
  &:focus {
    background-color: $gold-2;
    border-color: $gold-2;
    color: white;
  }
}

button,
.btn,
.btn-submit {
  @include button;
  color: $gray-1;
  border-color: $gray-3;
  &:hover,
  &:focus {
    border-color: $gray-1;
    color: $default;
  }
}

input[type="submit"],
.btn-submit {
  @include button--large;
  @include button--gold;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  background: white;
  &:focus {
    outline: none;
  }

}

#footer .btn-submit {
  @media (min-width: $m) {
    @include button--small;
  }
}

.btn--white {
  color: white;
  border-color: white;
  &:hover,
  &:focus {
    border-color: white;
    background-color: white;
  }
}

.btn--solid-white,
input[type="submit"].btn--solid-white,
button.btn--solid-white {
  &:hover,
  &:focus {
    border-color: white;
    background-color: white;
  }
}

.btn--gold,
.btn--large  {
  @include button--gold;
}

.btn--small {
  @include button--small;
}

.btn--large {
  @include button--large;
  margin-top: .5em;
}

.btn--dropdown {
  @include button--small;
  padding-right: 36px;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    width: 20px;
    height: 26px;
    background-image: url(../img/down-arrow.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    transition: inherit;
    opacity: .6;
  }
}


.custom-dropdown {
  position: relative;
  width: 100%;
}

.dropdown-list {
  display: none;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  margin: 4px 0;
  display: inline-block;
  opacity: 0;
  transition: all .2s ease;
  &:first-child {
    padding-top: 14px;
  }
}


.dropdown-list.open .dropdown-item {
  opacity: 1;
}

.dropdown-item a:not(.category-filter-link) {
  @include button;
  @include button--small;
  &:hover {
    background-color: $red-1;
    border-color: $red-1;
    color: white;
  }
}
