
// Colors

$colors: (
  purple-1: $purple-1,
  purple-2: $purple-2,
  purple-3: $purple-3,

  blue-1: $blue-1,
  blue-2: $blue-2,
  blue-3: $blue-3,

  teal-1: $teal-1,
  teal-2: $teal-2,
  teal-3: $teal-3,

  green-1: $green-1,
  green-2: $green-2,
  green-3: $green-3,

  red-1: $red-1,
  red-2: $red-2,
  red-3: $red-3,

  gold-1: $gold-1,
  gold-2: $gold-2,
  gold-3: $gold-3
);


@mixin theme-color($color-name) {

  $c1: map-get($colors, $color-name#{-1});
  $c2: map-get($colors, $color-name#{-2});
  $c3: map-get($colors, $color-name#{-3});

  .page-intro--default {
    background-color: $c2;
  }

  #footer {
    background-color: $c1;
  }

  .pattern-separator:not(.gray) {
    background-color: $c3;
  }

  input[type="submit"].btn--solid-white {
    color: $c1;
    box-shadow: 0 0 0 2px $c1, 0 0 0 3px $c1;
    &:focus {
      box-shadow: 0 0 0 2px $c1, 0 0 0 3px white;
    }
  }

}

@mixin hero-swiper-color($color-name) {
  &:before {
    background-color: map-get($colors, $color-name#{-1});
  }
}


$color-list: purple blue teal green red gold;

@each $theme in $color-list {
  .color-#{$theme} {
    @include theme-color(#{$theme});
    &#active-slide-content {
      @include hero-swiper-color(#{$theme});
    }
  }
}
