@mixin font($name, $filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url('../fonts/#{$filename}.woff2') format('woff2'),
         url('../fonts/#{$filename}.woff') format('woff'),
         url('../fonts/#{$filename}.otf') format('opentype');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font('EB Garamound', 'EBGaramond-Regular');
@include font('EB Garamound', 'EBGaramond-Italic',  $style: italic);
@include font('EB Garamound', 'EBGaramond-Medium', 500);
@include font('Roboto Condensed', 'RobotoCondensed-Regular');
@include font('Roboto Condensed', 'RobotoCondensed-Light', $weight: 300);
@include font('Roboto Condensed', 'RobotoCondensed-LightItalic', $weight: 300, $style: italic);
