
$hh: 140px; // Header height

// Header
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 10;
  &.fixed {
    position: fixed;
    transform: translateY(-42px);
  }
  @media (min-width: $l) {
    height: $hh;
    padding-top: 10px;
    @media (max-height: 960px) {
      position: absolute;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      top: 0;
      left: 0;
      z-index: 0;
      box-shadow: $header-shadow;
      // border-bottom: solid 2px $gray-4;
    }
  }
}

body {
  padding-top: 58px;
  @media (min-width: $l) {
    padding-top: $hh;
  }
}

.header-outer-wrap {
  @media (min-width: $l) {
    margin: 0 auto;
    max-width: 720px;
  }
}

.header-container-top {
  position: relative;
  z-index: 10;
  padding: .75em 1em;
  border-bottom: solid 2px lighten($gray-4, 10%);
  background: white;
  @media (min-width: $l) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    padding-bottom: .5em;
    max-width: 720px;
    background: transparent;
    border-bottom: solid 1px $gray-4;
  }
}

.logo {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/fairport-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: bottom left;
  @media (min-width: $l) {
    background-image: url(../img/fairport-logo.svg);
    width: 215px;
    height: 48px;
  }
}

#menu-toggle {
  width: 32px;
  height: 32px;
  padding: 8px 4px;
  position: absolute;
  right: 0;
  top: 0;
  align-content: space-between;
}

#menu-toggle div {
  height: 2px;
  width: 100%;
  background: $gray-2;
  @media (min-width: $l) {
    display: none;
  }
}

#main-nav {
  display: none;
  position: fixed;
  background: white;
  height: 100vh;
  padding-top: 58px;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 0;
  &.open {
    display: block;
    animation: fade-in .2s forwards;
    &.nav-out {
      animation: fade-out .2s forwards;
    }
  }
  @media (min-width: $l) {
    display: block;
    position: static;
    opacity: 1;
    height: auto;
    overflow-y: hidden;
    padding-top: 0;
    background: transparent;
  }
}

#main-nav:after {
  content: '';
  display: block;
  height: 100px;

}

@media (min-width: $l) {
  .subscribe-link-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
  #main-nav:after {
    display: none;
    content: none;
  }
}
