
// Global nav styles
nav {
  ul {
    margin: 0;
    list-style-type: none;
  }
  a {
    padding: 3px 0;
  }
}

.main-nav-item,
.footer-nav-item {
  margin-bottom: 1em;
  & > a {
    @include header-5;
    margin-bottom: 3px;
  }
}

.sub-nav,
.footer-sub-nav {
  a {
    opacity: .75;
    font-size: 1.05em;
    margin-bottom: 2px;
  }
}

// Header nav styles
.nav-container {
  padding-top: 2em;
  @media (min-width: $l) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
  }
}

.main-nav-list {
  padding: 2em 0;
  @media (min-width: $l) {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }
}

.main-nav-item {
  @media (min-width: $l) {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 2px;
    padding: .75em .5em;
    height: 44px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

%current-nav-item {
  color: $default;
}

.main-nav-item a {
  color: $gray-1;
  display: block;
  &.current {
    @extend %current-nav-item;
  }
  @media (min-width: $l) {
    font-size: .9em;
    color: $gray-2;
    letter-spacing: .5px;
    &:hover {
      color: $default;
    }
  }
}

.main-nav-item > a {
  font-size: 1em;
  margin-bottom: 6px;
  @media (min-width: $l) {
    font-size: .9em;
    padding: 0;
    margin: 0;
  }
}

.main-nav-item.current > a {
  @extend %current-nav-item;
}

.sub-nav {
  border-top: solid 2px $gray-4;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  li{
    margin-top: .5em;
  }
}

.main-nav-item.expanded {
  .sub-nav {
    max-height: none;
  }
}

// Dropdown menu
#backdrop {
  display: none;
  position: absolute;
  height: 500px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: .9;
  background-color: lighten($gray-5, 5%);
  z-index: -1;
  border-bottom: solid 2px $gray-4;
  transform: translateY(0);
  transition: all .3s ease;
}
@media (min-width: $l) {
  .main-nav-item.hover {
    & > a {
      color: $default;
    }
    .sub-nav {
      pointer-events: all;
      max-height: none;
      opacity: 1;
      transition-delay: .2s;
    }
  }
  .dropdown-engaged .main-nav-item .sub-nav {
    transition-delay: 0s;
  }
  .dropdown-engaged .main-nav-item.hover .sub-nav {
    transition-delay: .2s;
  }
  .sub-nav {
    pointer-events: none;
    max-height: none;
    border-top: none;
    position: absolute;
    margin-top: 12px;
    padding: 0 40px;
    margin-left: -40px;
    opacity: 0;
    transition: opacity .15s;
    li:first-child {
      padding-top: .5em;
    }
    li:last-child {
      padding-bottom: 1em;
    }
    a {
      letter-spacing: normal;
      opacity: 1;
      font-size: .95em;
      padding: 0;
    }
  }
  #backdrop {
    display: block;
  }
}


// Footer nav styles
#footer-nav a {
  color: white;
  display: inline-block;
  padding: 0;
  margin-bottom: 4px;
}

.footer-nav-list {
  padding: 0;
}

.footer-nav-item {
  @extend .grid-item;
  & > a {
    font-size: 1em;
  }
  @media (min-width: $l) {
    font-size: .9em;
  }
}

.footer-sub-nav {
  padding: .5em 0;
}

.footer-sub-nav a {
  font-weight: 300;
  @media (min-width: $l) {
    font-size: 1.125em;
    margin-bottom: 5px;
  }
}



// Breadcrumbs

.breadcrumbs {
  padding-top: .5em;
  padding-bottom: .75em;
}

.breadcrumb-item {
  display: inline-block;
  @include header-5;
  font-size: .8em;
}

.breadcrumb-item:not(.current) a {
  color: $gray-2;
  &:hover {
    color: #666;
  }
}

.breadcrumb-item:before {
  content: '/ ';
}
