// Quick Links

.quick-links-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: .5em;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: space-between;
}

.quick-link {
  padding-left: 0;
  padding-right: 0;
  padding-top: 38px;
  margin-bottom: 2em;
  @include icon('star');
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 0 0;
  @media (min-width: $m) {
    width: 31%;
  }
}

.quick-link p {
  font-family: $serif;
  margin-bottom: .5em;
  @media (min-width: $m) {
    margin-bottom: .75em;
  }
}

.quick-link-title {
  display: block;
  font-size: 1.125em;
  margin-bottom: .5em;
  @media (min-width: $m) {
    margin-bottom: .65em;
  }
}

.more-link {
  @include header-5;
}

.quick-link--announcement {
  @include icon('bell');
}

.quick-link--compass {
  @include icon('compass');
}

.quick-link--download {
  @include icon('fifteen');
}
