
// Typography

body {
  font-family: $sans;
}

%body-copy {
  font-family: $serif;
  font-size: 18px;
  @media (min-width: $m) {
    font-size: 21px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 400;
  @media (min-width: $s) {
    font-size: 2.5em;
  }
  @media (min-width: $m) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  @media (min-width: $m) {
    font-size: 1.75em;
  }
}

h3 {
  font-family: $serif;
  font-size: 1.35em;
  line-height: 1.25;
  font-weight: 400;
  @media (min-width: $m) {
    font-size: 1.6em;
  }
}

h4 {
  @extend %body-copy;
  font-weight: 500;
}

@mixin header-5 {
  font-size: 14px;
  letter-spacing: .075em;
  text-transform: uppercase;
  font-family: $sans;
}

h5 {
  @include header-5;
  font-weight: 400;
}

a {
  color: $red-2;
  text-decoration: none;
  &:hover {
    color: $red-1;
  }
}

.main-content p,
.main-content li {
  @extend %body-copy;
  strong {
    font-weight: 500;
  }
}

.content-area li {
  margin-bottom: .5em;
}

.content-area .grid-item li {
  font-size: 18px;
  line-height: 1.55;
}

.content-area p,
.content-area ul,
.content-area ol {
  & + h2,
  & + h3,
  & + h4 {
    padding-top: 10px;
  }
}

.content-area h3 {
  margin-bottom: .25em;
}
.content-area h4 {
  margin-bottom: .25em;
}

.content-area h5 {
  color: $gray-2;
  margin-bottom: .5em;
}

%bullet-list {
  list-style: none;
  padding: 0;
  li {
    padding-left: 1.25em;
    position: relative;
  }
  li:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $gold-3;
    position: absolute;
    left: .25em;
    top: .55em;
  }
}

.content-area ul {
  @extend %bullet-list;
  margin-bottom: 21px;
}

.page-title {
  margin-bottom: .5em;
}

.page-subtitle {
  color: $gray-2;
  margin-bottom: 0;
}

.section-title {
  margin-bottom: .5em;
  @media (min-width: $m) {
    margin-bottom: .75em;
  }
}

.section-title.underlined {
  padding-bottom: .1em;
  border-bottom: solid 1px $gray-4;
  margin-bottom: 1em;
}

.intro-paragraph {
  font-family: $serif;
  font-size: 1.25em;
  line-height: 1.45;
  @media (min-width: $s) {
    font-size: 1.33em;
  }
  @media (min-width: $m) {
    font-size: 1.5em;
  }
}

hr {
  border: none;
  background-color: $gray-4;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

p.small {
  font-family: $sans;
  font-size: .9em;
  color: $gray-2;
  @media (min-width: $m) {
    color: $gray-3;
  }
}
