@import "normalize";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  padding: 2em;
  margin: 0 auto;
  overflow-x: hidden;
  line-height: 1.4;
}

pre {
  overflow-x: scroll;

  padding: 1em;
}

pre,
code {
  background-color: #dadada;
}
